<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-yahoo-connect"
    version="1.0.0">
    <name>Cordova Plugin Yahoo! JP Connect</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
  
    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <clobbers target="YahooConnect" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="YahooConnect">
          <param name="android-package" value="co.trithucmoi.YahooConnect" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/co/trithucmoi/YahooConnect.java" target-dir="src/co/trithucmoi/" />
	  <source-file src="src/android/co/trithucmoi/YConnectHybridActivity.java" target-dir="src/co/trithucmoi/" />
		<config-file target="AndroidManifest.xml" parent="application">
            <activity
			  android:name="co.trithucmoi.YConnectHybridActivity"
			  android:label="@string/app_name"
			  android:exported="true"
			  android:permission="android.permission.INTERNET"
			  android:launchMode="singleTask" >
			  <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="yj-gdbn" />
				<data android:host="cb" />
			  </intent-filter>
			</activity>
        </config-file>
	</platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="YahooConnect" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="YahooConnect">
                <param name="ios-package" value="YahooConnect" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/YahooConnect.h" />
        <source-file src="src/ios/YahooConnect.m" />
    </platform>
</plugin>
